@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.saintsContainer {
  .dashboard {
    margin-bottom: 24px;
  
    .kpiRow {
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
    }
  
    .kpiPanel {
      flex: 1 1 auto;
      margin: 10px;
      padding: 12px;
      background: rgba($color: #d4af37, $alpha: 1);
      box-shadow: rgba($color: #333, $alpha: 0.25) 0 0 15px;
      color: #363636;
  
      .kpiTitle {
        font-size: 1.3em;
        font-weight: 300;
      }
  
      .kpiValue {
        font-size: 2em;
        font-weight: bold;
        color: #2e1733;
        text-align: center;
      }
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.GALLERY {
    width: 100%;

    .listOnly {
      display: none;
    }

    ul {
      width: 100%;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 6px;
        flex: 0 1 160px;
        padding-top: 160px;
        box-shadow: rgba($color: #888, $alpha: 0.35) 0 0 15px;

        > * {
          padding: 1px 6px;  
          background: rgba($color: #f0f0f0, $alpha: 0.95);
          color: #090909;
        }

        .saintName {
          font-size: 1.3em;
          font-weight: 700;
        }

        .saintPicture {
          display: none;
          background: none;
        }
      }
    }
  }

  &.LIST {
    .galleryOnly {
      display: none;
    }

    .listHeader {
      color: #d4af37 !important;
      background: #090909 !important;
      font-weight: 300;
      font-size: 1.3em;
    }
 
    ul {
      display: table;
      width: 100%;
      border-spacing: 6px;

      li {
        display: table-row;
        background: none !important;

        > * {
          display: table-cell;
          padding: 12px;
          height: 30px;
          line-height: 30px;
        }

        .saintPicture {
          width: 30px;
          background-size: cover;
        }
      }
    }
  }
}