@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.saintsContainer {  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.GALLERY {
    width: 100%;

    .listOnly {
      display: none;
    }

    ul {
      width: 100%;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 6px;
        flex: 0 1 160px;
        padding-top: 160px;
        box-shadow: rgba($color: #888, $alpha: 0.35) 0 0 15px;

        &:hover {
          box-shadow: rgba($color: #d4af37, $alpha: 0.75) 0 0 15px;
        }

        > * {
          padding: 1px 6px;  
          background: rgba($color: #f0f0f0, $alpha: 0.95);
          color: #090909;
        }

        .saintName {
          font-size: 1.3em;
          font-weight: 700;
        }

        .saintPicture {
          display: none;
          background: none;
        }
      }
    }
  }

  &.LIST {
    .galleryOnly {
      display: none;
    }

    .listHeader {
      color: #d4af37 !important;
      background: #090909 !important;
      font-weight: 300;
      font-size: 1.3em;
    }
 
    ul {
      display: table;
      width: 100%;
      border-spacing: 6px;

      li {
        @include ms-Grid-row;
        // display: table-row;
        background: none !important;

        > * {
          // display: table-cell;
          @include ms-Grid-col;
          @include ms-md2;
          padding: 12px;
          height: 30px;
          line-height: 30px;
        }

        .saintPicture {
          // @include ms-md1;
          width: 30px;
          background-size: cover;
          background-repeat: no-repeat;
          @media screen and (max-width: 600px) {
            background-size: 30px;
          }
        }
      }
    }
  }
}